USE [master]
GO
/****** Object:  Database [Residences_V3]    Script Date: 2021/10/02 14:42:09 ******/
CREATE DATABASE [Residences_V3]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Residences_V3', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Residences_V3.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Residences_V3_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Residences_V3_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Residences_V3].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Residences_V3]
GO
/****** Object:  Table [dbo].[Admins]    Script Date: 2021/10/02 14:42:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admins](
	[admin_Code] [varchar](5) NOT NULL,
	[password] [varchar](5) NULL,
PRIMARY KEY CLUSTERED 
(
	[admin_Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Complaints]    Script Date: 2021/10/02 14:42:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Complaints](
	[complaintID] [varchar](10) NOT NULL,
	[complaintDescription] [varchar](250) NOT NULL,
	[complaintDate] [date] NOT NULL,
	[complaintTypeID] [varchar](10) NULL,
	[status] [varchar](10) NULL,
	[linkedUnit] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[complaintID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ComplaintType]    Script Date: 2021/10/02 14:42:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ComplaintType](
	[complaintTypeID] [varchar](10) NOT NULL,
	[TypeDescription] [varchar](250) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[complaintTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Resident]    Script Date: 2021/10/02 14:42:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Resident](
	[resID] [varchar](10) NOT NULL,
	[name] [varchar](50) NOT NULL,
	[surname] [varchar](50) NOT NULL,
	[emailAddress] [varchar](50) NOT NULL,
	[cellNumber] [varchar](10) NOT NULL,
	[yearMovedIn] [date] NOT NULL,
	[password] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[resID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [Username] UNIQUE NONCLUSTERED 
(
	[emailAddress] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Unit]    Script Date: 2021/10/02 14:42:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Unit](
	[unitID] [varchar](10) NOT NULL,
	[squareMeters] [varchar](10) NULL,
	[resID] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[unitID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UnitComplaints]    Script Date: 2021/10/02 14:42:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UnitComplaints](
	[UnitComplaintsID] [varchar](10) NOT NULL,
	[complaintID] [varchar](10) NULL,
	[unitID] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[UnitComplaintsID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Complaints]  WITH CHECK ADD FOREIGN KEY([complaintTypeID])
REFERENCES [dbo].[ComplaintType] ([complaintTypeID])
GO
ALTER TABLE [dbo].[Unit]  WITH CHECK ADD FOREIGN KEY([resID])
REFERENCES [dbo].[Resident] ([resID])
GO
ALTER TABLE [dbo].[UnitComplaints]  WITH CHECK ADD FOREIGN KEY([complaintID])
REFERENCES [dbo].[Complaints] ([complaintID])
GO
ALTER TABLE [dbo].[UnitComplaints]  WITH CHECK ADD FOREIGN KEY([unitID])
REFERENCES [dbo].[Unit] ([unitID])
GO
USE [master]
GO
